In [87]:
import pandas as pd
from pandas import Series, DataFrame

In [97]:
df=pd.read_csv('/content/les2/data-1726325580617.csv')
df_sorted = df.sort_values('salary')
nineth = df_sorted.iloc[8]
nineth

region_name    Чеченская Республика
salary                        26108
Name: 77, dtype: object

In [101]:
mean = df['salary'].mean()
median = df['salary'].median()
mean, median

(39377.851851851854, 33137.0)